In [1]:
import pandas as pd

In [2]:
path = r'D:\Книги\Программирование\ML_contests_хакатоны\VK_RecSys_Challenge_2024\Сабмиты'
path = r'C:\Users\vsemis\files\VK_recsys_huck_2024'

In [3]:
cat = pd.read_csv(path + r'\submission_catboost_probabilities_18.12.csv')  # 0.6444736334128651 AUC
xgb = pd.read_csv(path + r'\submission_xgb_probabilities_18.12.csv')  # 0.6474054349716655 AUC

In [4]:
cat.head()

   user_id  item_id   predict
0        1     7363  0.100804
1        1    73770  0.170159
2        1    75700  0.170517
3        1    81204  0.100435
4        1   110249  0.030966

In [5]:
cat.describe()

            user_id       item_id       predict
count  1.655120e+06  1.655120e+06  1.655120e+06
mean   9.434374e+04  1.703528e+05  1.081345e-01
std    5.249043e+04  9.780802e+04  1.426636e-01
min    1.000000e+00  1.000000e+00  7.756209e-06
25%    4.955375e+04  8.476400e+04  7.359542e-03
50%    9.568500e+04  1.714620e+05  4.993646e-02
75%    1.398602e+05  2.527330e+05  1.540306e-01
max    1.834030e+05  3.377250e+05  9.737925e-01

In [6]:
xgb.head()

   user_id  item_id   predict
0        1     7363  0.125653
1        1    73770  0.142450
2        1    75700  0.180228
3        1    81204  0.126991
4        1   110249  0.045290

In [7]:
xgb.describe()

            user_id       item_id       predict
count  1.655120e+06  1.655120e+06  1.655120e+06
mean   9.434374e+04  1.703528e+05  1.087732e-01
std    5.249043e+04  9.780802e+04  1.447175e-01
min    1.000000e+00  1.000000e+00 -9.003843e-01
25%    4.955375e+04  8.476400e+04  6.855862e-03
50%    9.568500e+04  1.714620e+05  4.994055e-02
75%    1.398602e+05  2.527330e+05  1.546676e-01
max    1.834030e+05  3.377250e+05  9.767173e-01

In [8]:
xgb['predict'] = (xgb['predict'] - xgb['predict'].min()) / (xgb['predict'].max() - xgb['predict'].min())

In [9]:
xgb.describe()

            user_id       item_id       predict
count  1.655120e+06  1.655120e+06  1.655120e+06
mean   9.434374e+04  1.703528e+05  5.376147e-01
std    5.249043e+04  9.780802e+04  7.709628e-02
min    1.000000e+00  1.000000e+00  0.000000e+00
25%    4.955375e+04  8.476400e+04  4.833197e-01
50%    9.568500e+04  1.714620e+05  5.062725e-01
75%    1.398602e+05  2.527330e+05  5.620644e-01
max    1.834030e+05  3.377250e+05  1.000000e+00

In [10]:
xgb.to_csv(path + r'\sample_submission_xgb_norm_probabilities.csv', index=False)

In [11]:
cat_xgb_meta = cat[['user_id', 'item_id']]

In [12]:
cat_xgb_meta['predict'] = 0.1 * cat['predict'] + 0.9 * xgb['predict']  # Присвоим веса, 0,6466266289 с такими коэффициентами

In [13]:
cat_xgb_meta

         user_id  item_id   predict
0              1     7363  0.502027
1              1    73770  0.517016
2              1    75700  0.535165
3              1    81204  0.502632
4              1   110249  0.456512
...          ...      ...       ...
1655115   183403   235097  0.431965
1655116   183403   267411  0.439220
1655117   183403   273646  0.432718
1655118   183403   288305  0.432132
1655119   183403   322029  0.434800

[1655120 rows x 3 columns]

In [14]:
cat_xgb_meta.to_csv(path + r'\sample_submission_cat_xgb_meta_probabilities.csv', index=False)